<div class="jumbotron text-center">
  <h2>Contact Me</h2>
  <p>
    I would love to hear your feedback
  </p>
  <address>
    Alpeshkumar Prajapati
    <p>
      Kuerbisstr 17<br>
      Ruesselsheim, Germany 65428
    </p>
    <a href="tel:151.630.83406">+49-151-630-83406</a><br>
    <a href="mailto:alpesh1988@gmail.com">alpesh1988@gmail.com</a>
  </address>
</div>