<div class="jumbotron text-center">
    <h2>Welcome to Employee Management Application</h2>
    <p>It is written in EmberJS where you can manage employees data with create, update, view and delete functionalities.</p>
    <LinkTo @route="employee" id="ema-contact-me" class="btn btn-lg btn-primary">Start</LinkTo>
</div>